*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #04001e;
}

/* HEADER STYLE */

#logo-container{
    display: flex;
    justify-content: center;
}

.logo{
    width: 200px;
    margin: 100px 0;
}

#new-task{
    text-align: center;
    margin-bottom: 100px;
}

#new-task input{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

#new-task button{
    margin-left: 35px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    color: rgb(32, 189, 32);
    font-size: 14px;
}

/* MAIN STYLE */

.to-do{
    width: 50%;
    margin: auto;
    border-radius: 10px;
}
.delate-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-solid{
    cursor: pointer;
}
.done{
    text-decoration: line-through;
}
span{
    cursor: pointer;
}